/*=======================================================================================================
=                                              Estilos generales                                        =
========================================================================================================*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    background-color: #fff;
    position: relative;
}
video{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}
.full-reset{
    margin: 0;
    padding: 0;
    width: 100%;
}
.font-cover{
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titles{
    font-family: 'Fjalla One', sans-serif;
}
.center-box{
    margin: 0 auto;
}
.btn-up{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 9999;
    background: transparent;
    width: 29px;
    height: auto;
    color: #00897B;;
    line-height: 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    text-shadow: 0 0 1px #333;
    display: none;
}
.divider-general{
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #EFCDCD;
}
.table > tbody > tr > td,
.table > thead > tr > th{
    vertical-align: middle;
}
/*************** Estilos del header y nav ***************/
.header{
    background-color:  C;
    height: 90px;
    color: #fff;
    position: center;
    z-index: 97;
}
.logo{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}
.navigation{
    height: 50px;
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
}
.navigation ul{
    height: 20px;
    padding-right: 80px;
    text-align: right;
}
.navigation ul li{
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0 1px;
}
.navigation ul li a{
    position: center;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
	font-weight: 500;
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navigation ul li a:active,
.navigation ul li a:focus{
    outline: none;
    text-decoration: none;
}
.navigation ul li a:hover{
    color: #F0F4C3;
    text-decoration: none;
}
.button-menu-mobile{
    margin: 0;
    padding: 0 17px;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}
.button-menu-mobile:focus,
.button-menu-mobile:active{
    color: #fff;
    outline: none;
}
.button-menu-mobile:hover{
    color: #fff;
}
.mega-menu{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(0,121,107,.97);
    color: #fff;
    z-index: 99999;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: 30px 0;
    opacity: 0;
    pointer-events: none;
    transition: .4s all ease-in-out;
}
.mega-menu span{
    color: #F0F4C3;
}
.mega-menu ul{
    padding: 10px 0 0 0;
}
.mega-menu ul li,
.mega-menu ul li a{
    height: 30px;
    line-height: 30px;
}
.mega-menu ul li{
   display: block;
   width: 100%; 
}
.mega-menu ul li a{
    color: #fff;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
.mega-menu ul li a:hover{
    text-decoration: none;
    color: #FFA726;
}
.mega-menu ul li a:active,
.mega-menu ul li a:focus{
    outline: none;
    text-decoration: none;
}
.show-mega-menu{
    opacity: 1;
    height: auto !important;
    pointer-events: auto;
}
.close-mega-menu{
    color: #fff !important;
    position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 10px;
}
/*************** Estilos del pie de pagina ***************/
.footer{ 
    clear:both;
    color: #fff;
    background-color: #032239;
    position: relative;
    height: auto;
}
.footer-copyright{
    padding: 20px 0 10px 0;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.4);
}
.links-footer,
.subtitles-footer{
    padding-left: 50px;
}

.links-footer li a{
    color: #fff;
}
.links-footer li a:hover{
    color: #FFCA28;
    text-decoration: none;
}
.links-footer li a:active,
.links-footer li a:focus{
    outline: none;
    text-decoration: none;
    color: #FFCA28;
}
/*=======================================================================================================
=                                              Estilos index                                            =
========================================================================================================*/
.Logo-Ins-Index img{
    height: 250px;
    margin: 15px auto;
}
.icon-index{
    font-size: 190px;
    margin: 15px;
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    display: block;
    text-align: center;
    color: #B0B0B0;
}
/************** Sitios de la institución ***************/
.important-links-index{
    background-color: #F7F7F7; 
    padding: 60px 0;
    height: auto;
}
.important-links-index a{
    border: 1px solid #737373;
    background-color: transparent;
    height: 130px;
    width: 130px;
    display: inline-block;
    border-radius: 50%;
    color: #737373;
    margin: 30px 20px;
    text-align: center;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.important-links-index a:hover{
    text-decoration: none;
    background-color: #032239;
    border: 1px solid #032239;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.important-links-index a:hover p,
.important-links-index a:hover i{
    color: #FFF;
}
.important-links-index a:active,
.important-links-index a:focus{
    outline: none;
    text-decoration: none;
}
.important-links-index a i,
.important-links-index a p{
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -webkit-transform: translateY(25px);
}
.important-links-index a i{
    font-size: 45px;
}
.important-links-index a p{
    font-size: 18px;
}
/************** Estilos eventos***************/
.events-ins{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    height: auto;
    background-color: #fff;
}
/*=======================================================================================================
=                                            Estilos institucion                                        =
========================================================================================================*/
/*************** Estilos de la navegacion ***************/
.info-section-ins article{
    padding: 50px 0;
}
.scroll-navigation-ins{
    position:absolute;
    padding-top: 10px;
    height: 100%;
    top: 10;
    right: 0;
    width: 270px;
    border-right:  1px solid #EFCDCD;
    background-color: transparent;
}

.img2{

     height:450px;
    
     display:block;
margin:auto;
 

} 

.scroll-navigation-ins ul li{
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: 0;
    color: #144441;
    -mos-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.scroll-navigation-ins ul li:hover{
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: red;
}
.scroll-navigation-ins figure img{
    height: 100px;
}
#mapa-ins{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    border-radius: 4px;
}
/*=======================================================================================================
=                                             Estilos galeria                                           =
========================================================================================================*/
.section-gallery-ins{
    background-color: #fff; 
    padding: 30px 0;
    width: 100%;
}
.section-gallery-ins > article{
    padding-bottom: 30px;
    padding-top: 30px;
}
.section-gallery-ins > article > h2{
    padding-bottom: 40px;
}
.tile-gallery{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px dashed #EFCDCD;
    margin: 10px 0;
}
.tile-gallery img{
    max-width: 300px;
    max-height: 300px;
    margin: 15px auto;
    display: block;
    border-radius: 10%;/*imagenes de abanderados*/
}
.tile-gallery p{
    color: #000000;
}
.tile-gallery span{
    display: block;
    color: red;
    margin-bottom: 10px;
}
.tile-gallery a{
    color: blue;
    display: block;
    font-size: 19px;
    margin: 10px 0;
    text-align: center;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.tile-gallery a:hover{
    text-decoration: none;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    color: #032239;
}
.tile-gallery a:active,
.tile-gallery a:focus{
    outline: none;
    text-decoration: none;
}
/*=======================================================================================================
=                                        Media queries                                                  =
========================================================================================================*/

/* col-xs */
@media (max-width: 767px) {
    .font-cover{
        background-attachment: inherit;
    }
    .navigation{
        height: 0;
        width: 100%;
        position: absolute;
        top: 50px;
        background-color: #00796b;
        border-top: 1px solid rgba(255,255,255,.2);
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        z-index: 99;
    }
    .show-navigations{
        pointer-events: auto;
        opacity: 1;
        height: auto !important;
    }
    .navigation ul{
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
        text-align: left;
    }
    .navigation ul li{
        display: block;
        height: auto;
        padding: 0;
    }
    .navigation ul li a{
         text-align: left;
         height: 40px;
         width: 100%;
         line-height: 40px;
         font-size: 16px;
         padding: 0;
         border-bottom: 1px solid rgba(255,255,255,.2);
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
      
    }
    h3{
        font-size: 18px;
    }
    .links-footer,
    .subtitles-footer{
        padding-left: 0;
        text-align: center;
    }
    #mapa-ins{
        margin: 0 auto;
        width: 90%;
        height: 370px;
    }
    .close-mega-menu{
        bottom: 0;
        top: 7px;
    }
    .mega-menu ul{
        margin-bottom: 25px;
    }
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 22px;
    
    }
    h3{
        font-size: 20px;
    }
    .scroll-navigation-ins{
        width: 235px;
    }
    .Logo-Ins-Index img{
        height: 200px;
    }
}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {
    .navigation{
        width: 64%;
    } 
    .logo{
        width: 36%;
        font-size: 20px;
    } 
    .scroll-navigation-ins{
        width: 230px;
    }
}

/* col-lg */
@media (min-width: 1200px) {
    .navigation{
        width: 60%;
    } 
    .logo{
        width: 40%;
    } 
}
/* parrafos saludo de bienvenida */
.p{
  
    font-size: 19px
  
} 
/* pie de página*/
.p1{
    text-align: center;
    font-size: 12px  

  
} 
.p2{
    text-align:center;
    font-size: 12px  

  
} /* imagen de enlaces*/
.img1{
    width: 50px;;
     height: 50px;
    
     display:block;
margin:auto;
 

} 


/*MENU PRINCIPAL*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
	font-weight: bold;
	
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*==========================================*/

.title{
	width: 100%;
	background:#032239;
	height: 10px;
	justify-content: center;
}

.navegacion{
	top: 10%;
	width: 100%;
	background: #032239;

	display: flex;
	justify-content: center;
}

.menu{
	width: 1060px;
	display: flex;
	flex-wrap: wrap;
	height: 80px;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 2px solid #FFFFFF;/*linea siguientes*/
	position: relative;
}

.menu .first-item{
	border-left: 2px solid #FFFFFF; /*linea primer*/
	
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.menu .imagen{
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #032239; /**segundo menu*/

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 100%;
}

.menu li:hover .imagen{
	width: 100%;
	height: 100%;
	right: 0px;

}

h2{/* titulo*/
    font-size: 30px;
    color:#032239;
    font-weight: bold;


}
h3{/* titulo*/
    font-size: 19px;
   
   


}
p1{/* titulo*/
    font-size: 19px;
   


}

/* formulario*/

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: sans-serif;
  }
  .formulario {
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 20px 1px #032239;
    position: relative;
    background-color: #032239;
  }
  .formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: #FFFFFF;
  }
  .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__input {
    padding: 20px;
    background: #c1c6ca; /*cuadro de formulario*/
    border: 1px solid #032239;
    margin-bottom: 10px;
  }
  .formulario__input:focus {
    outline: 1px solid #032239; /*marco de cuadro*/
  }
  .formulario__input:focus + .formulario__label{
    margin-top: -135px;
  }
  .formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color:  red;
    transition: all 0.2s;
  }
  .formulario__submit { /*boton enviar*/
    background: #87D62D;
    color: #032239;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  .fijar {
    margin-top: -135px;
  }
  .img2 {
    position: center;
    width: 80%;
    height: 80%;
  }
  .nomb{
    text-align: left;
    font-size: 19px;
    color: #FFFFFF;
  
  }

  .nomb1{
    text-align: center;
    font-size: 30px;
    color: #032239;
    font-weight: bold;
  
  }
  .nomb2{
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
  
  }